<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="bootstrap-5.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="text-end mt-4">
                <button class="btn btn-primary" @click="openModal('new',null)">
                    建立新的產品
                </button>
            </div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th width="120">
                            分類
                        </th>
                        <th>產品名稱</th>
                        <th width="120">
                            原價
                        </th>
                        <th width="120">
                            售價
                        </th>
                        <th width="100">
                            是否啟用
                        </th>
                        <th width="120">
                            編輯
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in products" v-bind:key="item.id">
                        <td>{{ item.category }}</td>
                        <td>{{ item.title }}</td>
                        <td class="text-end">{{ item.origin_price }}</td>
                        <td class="text-end">{{ item.price }}</td>
                        <td>
                            <span v-if="item.is_enabled" class="text-success">啟用</span>
                            <span v-else>未啟用</span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary btn-sm"
                                    @click="openModal('edit', item)">
                                    編輯
                                </button>
                                <button type="button" class="btn btn-outline-danger btn-sm"
                                    @click="openModal('delete', item)">
                                    刪除
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination :pages="pagination" @change-page="getProducts" ref="a"></pagination>
        </div>
        <product-modal :is-new="isNew" :temp-product="tempProduct" ref="productModal" @update-product="updateProduct"></product-modal>
        <del-product-modal :temp-product="tempProduct" ref="delProductModal" @del-product="delProduct"></del-product-modal>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
        integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
        crossorigin='anonymous'></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <script src="bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module">
        import pagination from './components/pagination.js';
        import productModal from './components/productModal.js';
        import delProductModal from './components/delProductModal.js';
        const app = Vue.createApp({
            components: {
                pagination,
                productModal,
                delProductModal
            } ,
            data() {
                return {
                    isNew: false,
                    products: [],
                    tempProduct: {
                        imageUrl: []
                    },
                    apiUrl: "https://vue3-course-api.hexschool.io/api",
                    apiPath: "elena_hexschool",
                    pagination: {}
                }
            },
            methods: {
                checkAdmin() {
                    const url = `${this.apiUrl}/user/check`;
                    axios.post(url)
                        .then((res) => {
                            if (res.data.success) {
                                this.getProducts();
                            } else {
                                alert(res.data.message);
                                window.location = "index.html";
                            }
                        })
                        .catch((err) => {
                            console.log(err);
                        });
                },
                openModal(status, item) {
                    if (status === 'new') {
                        this.isNew = true;
                        this.tempProduct = {
                            imagesUrl: []
                        };
                        this.$refs.productModal.show();
                    }
                    else if (status === 'edit') {
                        this.isNew = false;
                        this.tempProduct = { ...item };
                        if (!Array.isArray(this.tempProduct.imagesUrl)) {
                            this.tempProduct.imagesUrl = [];
                        }
                        this.$refs.productModal.show();
                    }
                    else if (status === 'delete') {
                        this.tempProduct = { ...item };
                        this.$refs.delProductModal.show();
                    }
                },
                updateProduct() {
                    let url = `${this.apiUrl}/${this.apiPath}/admin/product`;
                    let httpMethod = 'post';
                    if (!this.isNew) {
                        url = `${this.apiUrl}/${this.apiPath}/admin/product/${this.tempProduct.id}`;
                        httpMethod = 'put';
                    }
                    axios[httpMethod](url, { data: this.tempProduct })
                        .then((res) => {
                            alert(res.data.message);
                            this.$refs.productModal.hide();
                            this.getProducts();
                        })
                        .catch((err) => {
                            alert(err.response.data.message);
                        })
                },
                delProduct() {
                    const url = `${this.apiUrl}/${this.apiPath}/admin/product/${this.tempProduct.id}`;
                    axios.delete(url)
                        .then((res) => {
                            alert(res.data.message);
                            this.$refs.delProductModal.hide();
                            this.getProducts();
                        })
                        .catch((err) => {
                            alert(err.response.data.message);
                        })
                },
                getProducts(page = 1) {
                    const url = `${this.apiUrl}/${this.apiPath}/admin/products?page=${page}`;
                    axios.get(url)
                        .then((res) => {
                            if (res.data.success) {
                                this.products = res.data.products;
                                this.pagination = res.data.pagination;
                            } else {
                                alert(res.data.message);
                            }
                        })
                        .catch((err) => {
                            console.log(err);
                        });
                }
            },
            mounted() {
                const token = document.cookie.replace(/(?:(?:^|.*;\s*)hexToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
                axios.defaults.headers.common.Authorization = token;
                this.checkAdmin();
            }
        });

        app.mount("#app");
    </script>
</body>

</html>